<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
		<encoder>
			<pattern>%d{ISO8601} | %thread | %msg%n%throwable</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>

</configuration>
